# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.mypy_cache/
.pytest_cache/

# Environments
.venv/
venv/
env/

# Data, Logs & Recordings
*.pkl
dataset.pkl
lightning_logs/
recordings/
checkpoints/

# OS / IDE
.DS_Store
Thumbs.db
.idea/